@{
    ViewData["Title"] = "Home Page";
}




<style>
    body {
        background: url("");
        background-size: cover;
    }

    #map {
        height: 400px;
        width: 100%;
    }
</style>


<div class="text-center" style="background-color: white; height: 100%;">
    <h1 class="display-4">The only true map</h1>
</div>

<div id="map"></div>

<script>
    
    function initMap() {

        fetch("https://ipinfo.io/json?token=5b1c9ba962808b").then(
            (response) => response.json()
        ).then(
            (jsonResponse) => {
                let coor = jsonResponse.loc.split(',');
                console.log(coor[0], coor[1]);
                var options = {
                    zoom: 13,
                    center: { lat: 13.69, lng: -89.19 }
                }
                var map = new google.maps.Map(document.getElementById("map"), options);


                var marker = new google.maps.Marker({
                    position: { lat: parseFloat(coor[0]), lng: parseFloat(coor[1]) },
                    map: map
                });

                var infoWindow = new google.maps.InfoWindow({
                    content: "<h1>Hi " + jsonResponse.ip + "</h1>" 
                });

                marker.addListener("click", function () {
                    infoWindow.open(map, marker);
                });
                
            }
        )

        
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAAYElExXcXft2Wp6h5dj3DZ55qQkszbk&callback=initMap">
</script>


